<div id = "online">
	<% @users.each do |user| %>
		<% if user.online? %>
	<%= link_to(user.email, chat_path(user.id)) %>
		<% end %>
	<% end %>	
</div>


<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
  <script src="http://js.pusherapp.com/1.9/pusher.min.js"></script>
  <script src="/javascripts/jquery.titlealert.js"></script>

   <script type="text/javascript" charset="utf-8">
  
$(function() {
      var pusher = new Pusher('64f47e8c5e5a280bd32a');
    var channel1 = pusher.subscribe('presence-public-101');
      
      channel1.bind('online', function(data){
        email = data.email;
        id= data.id;
        updated = data.updated;
        $('#online').append("<a href=/chats/"+id + ">" + email + "</a>" );
        $('#online').append(updated);
      }
        );
    });
</script>